#timeline {
    text-align: center;
  }
  
  .timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
  }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #cccccc;
    left: 50%;
    margin-left: -1.5px;
  }
  .timeline > li {
    margin-bottom: 20px;
    position: relative;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li > .timeline-panel {
    width: 50%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    background-color: #ffffff;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  }
  .timeline > li.timeline-inverted + li:not(.timeline-inverted),
  .timeline > li:not(.timeline-inverted) + li.timeline-inverted {
    margin-top: -60px;
  }
  
  .timeline > li:not(.timeline-inverted) {
  padding-right:90px;
  }
  
  .timeline > li.timeline-inverted {
  padding-left:90px;
  }
  .timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
  }
  .timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
  }
  .timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 2;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }
  .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  .timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  .timeline-badge.primary {
    background-color: #2e6da4 !important;
  }
  .timeline-badge.Deadline {
    background-color: #454545 !important;
  }
  .timeline-badge.Progress {
    background-color: #E76B0E !important;
  }
  .timeline-badge.Approve {
    background-color: #EB2690 !important;
  }
  .timeline-badge.Initiate {
    background-color: #5bc0de !important;
  }
  .timeline-title {
    margin-top: 0;
    color: inherit;
  }
  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
  }
  .timeline-body > p + p {
    margin-top: 5px;
  }
  
  /* Sorry, header */
  
  * {
       -webkit-box-sizing: border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
  }
  body {
      background:#ebe7e4;
      color:#6d6b6a;
      font-size:13px;
      font-family: 'Roboto';
      overflow-y:scroll;
  }
   header {
      /*z-index:30; width:100%; top:0; left:0;position:fixed;*/
      background:#E0DCD9;
      border-bottom:1px solid #d5d1cf;
      box-shadow:0 1px 1px white;
  }
  
  header nav {
      width:960px;
      margin:0 auto;
      overflow:hidden;
  }
  header nav ul {
      margin:0 0 0 -65px;
      padding:0;
      text-align:center;
      font-size: 0em;
          letter-spacing: 0px;
          word-spacing: 0px;
  }
  header nav li {
      display:inline-block;
      cursor:pointer;
      border-left:1px solid #ebe7e4;
      border-top:1px solid #E0DCD9;
      box-shadow:-1px 0px 1px #d5d1cf;
      padding:1.2em;
      font-size:18px;
  }
  header nav li:hover {
      background:#d5d1cf;
  }
  header nav li:first-child {
      border-left:1px solid #E0DCD9;
      box-shadow:-1px 0px 1px #E0DCD9;
      text-shadow:1px 1px 1px #fff;
  }
  header nav li:active,header nav li.active {
      color:white;
  }
  header nav li.all:active,header nav li.all.active {
      text-shadow:1px 1px 1px #444;
  }
  header nav li.icon-address:active, header nav li.icon-address.active {
      background:#5bc0de;
      border-left:1px solid #0cb4c6;
      border-top:1px solid #0cb4c6;
      box-shadow:none;
  }
  header nav li.icon-graduation-cap:active, header nav li.icon-graduation-cap.active {
      background:#EB2690;
      border-left:1px solid #bf1f75;
      border-top:1px solid #bf1f75;
      box-shadow:none;
  }
  header nav li.icon-briefcase:active, header nav li.icon-briefcase.active {
      background:#E76B0E;
      border-left:1px solid #B85307;
      border-top:1px solid #B85307;
      box-shadow:none;
  }
  header nav li.icon-star-1:active,header nav li.icon-star-1.active {
      background:#5E6297;
      border-left:1px solid #333;
      border-top:1px solid #333;
      box-shadow:none;
  }
  header nav li.icon-user:active,header nav li.icon-user.active {
      background:#454545;
      border-left:1px solid #333;
      border-top:1px solid #333;
      box-shadow:none;
  }
  header nav ul#nav_ctrl {
      position:absolute;
      top:0;
      right:0;
  }
  div#timeline_container {
      margin: 60px auto;
      position: relative;
      width: 960px;
  }